@import "../../style/mixins/colors.scss";

.button{
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

    &.primary{
        background-color: $green-color;
        color: $white-color;
    }
    
    &.secondary{
        background-color: $white-color;
        color: $purple-color;
    }
}

