$purple-color : #380158;

$green-color : #0DC74F;
$green-color2 :#0FCE33;
$green-color3: #0AAA28;

$gray-color : #afafaf;  
$gray-color2 : #4A4A4A;
$gray-color3 :#C9C9C9;
$gray-color4: #F7F7F7;
$gray-color5: #606060;

$white-color : #ffffff;
$black-color : #000000;