@use "../../style/mixins/colors.scss" as *;
@use "../../style/mixins/padding.scss" as *;
@use "../../style/mixins/responsive.scss" as *;

.container {
  @include Padding; //mixins
  color: $white-color; //variables
  padding-top: 34px;
  padding-bottom: 34px;
  width: 100%;
  background-color: $purple-color;
  border-bottom: 1px solid $gray-color;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include Phone {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .logo{
    width: 100px;
  }
}

.menu {
  font-size: 22px;

  a + a {
    margin-left: 39px;
  }

  @include Phone {
    display: none;
  }
}

.action{
  text-align: end;

  @include Phone {
    display: none;
  }
}

