@import "../../style/mixins/colors.scss";
@import "../../style/mixins/padding.scss";

.container {
  @include Padding; //mixins
  color: $white-color; //variables
  padding-top: 34px;
  padding-bottom: 34px;
  width: 100%;
  background-color: $purple-color;
  border-bottom: 1px solid $gray-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  font-size: 22px;

  a + a {
    margin-left: 39px;
  }
}

